:root {
	--green: #4aaaa5;
	--gray: #ededed;
	--white: #ffffff;
}

body {
	background-color: var(--gray);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
	color:#1c1c1c;
}

li {
	color:#1c1c1c;
}

h1 {
	color: var(--green);
	font-size: 1.5em;
	font-weight: bolder;
	padding: 5px;
}

h2 {
	color: var(--green);
	font-size: 1.2em;
	font-weight: bolder;
	padding: 5px;
}

.navbar {
	padding: 5px;
	background-color: var(--white);
	width: 100%;
}

.navbar-brand {
	background-color: var(--green);
	padding: 10px;
	margin-left: 10px;
	font-weight: bolder;
}

*main>.container {
	padding: 60px 15px 0;
}

.footer {
	background-color: var(--green);
}

.main-image {
	width: 35%;
	float: left;
}

.container {
	padding: 0px;
}

.col-sm-12>.container {
	background-color: var(--white);
}

.visualizations-row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.comparison-row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.col>h2 {
	padding-top: 25px;
	text-align: center;
}

.border-primary {
	border-width:2px !important;
	border-color: var(--green);
}

/* For mobile phones: */

@media(max-width: 767px) {
	nav {
		padding: 5px;
		background-color: var(--green);
		width: 100%;
	}
	body {
		background-color: var(--white);
	}

	.navbar.navbar-expand {
        background-color: var(--green);
    }

	/* The toggle button */
	.dropdown-toggle {
		background-color: #c1c1c1;
	}
	
	/* Second level buttons on the nav bar */
	.dropdown-item {
		background-color: #c1c1c1;
	}
	
	/* part of the background to the 2nd level buttons*/
	.show {
		background-color: #c1c1c1;
	}
	
	.visualizations-row {
		grid-template-columns: repeat(4, 1fr);
	}

	.comparison-row {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.background-green-navbar-sm{
		background-color: var(--green);
	}
}