:root {
	--green: #4aaaa5;
	--gray: #ededed;
	--white: #ffffff;
}

body {
	background-color: var(--gray);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:1em;
}

a {
	color:#1c1c1c;
}

li {
	color:#1c1c1c;
}
.page-text{
    background:#FFFFFF;
    padding-top:30px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}
.section-img{
    width:75%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

p{
    line-height:1.5;
    color:#1c1c1c;
    margin-top:20px;
    margin-bottom:20px;
}


h1 {
	color: var(--green);
	font-size: 1.5em;
	font-weight: bolder;
	padding: 5px;
}

h2 {
	color: var(--green);
	font-size: 1.2em;
	font-weight: bolder;
	padding: 5px;
}

h3{
    color:#48D1CC;
    font-weight:bold;
    font-size:16px;
    text-align:center;
}
.navbar {
	padding: 5px;
	background-color: var(--white);
	width: 100%;
}

.navbar-brand {
	background-color: var(--green);
	padding: 10px;
	margin-left: 10px;
	font-weight: bolder;
}

main>.container {
	padding: 60px 15px 0;
}
.visual-container {
    display: flex;
    flex-wrap: wrap;
}
.visual-container .image {
	width: 50%;
	grid-template-columns: repeat(2, 1fr);
}
.visual-container img {
	width: calc(100% - (20px * 2));
    margin-left: 20px;
    margin-right:20px;
	grid-template-columns: repeat(2, 1fr);
}
.footer {
	background-color: var(--green);
}

.main-image {
	width: 35%;
	float: left;
}

.container {
	padding: 10px;
}

.col-sm-12>.container {
	background-color: var(--white);
}

.visualizations-row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.comparison-row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.col>h2 {
	padding-top: 25px;
	text-align: center;
}

.border-primary {
	border-width:2px !important;
	border-color: var(--green);
}

/* For mobile phones: */

@media(max-width: 767px) {
	nav {
		padding: 5px;
		background-color: var(--green);
		width: 100%;
	}

	.navbar.navbar-expand {
		background-color: var(--green);
	}

	body {
		background-color: var(--white);
	}

	/* The toggle button */
	.dropdown-toggle {
		background-color: var(--gray);
	}
	
	/* Second level buttons on the nav bar */
	.dropdown-item {
		background-color: var(--white);
	}
	
	/* part of the background to the 2nd level buttons*/
	.show {
		background-color: var(--white);
	}
	
	.visualizations-row {
		grid-template-columns: repeat(4, 1fr);
	}

	.visual-container .image {
		grid-template-columns: repeat(1, 1fr);
	}

	.visual-container img {
		grid-template-columns: repeat(1, 1fr);
	}

	.visual-container> .image {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.background-green-navbar-sm{
		background-color: var(--green);
	}

}